.a-image {
  max-width: 100%;
}

.a-image--avatar {
  border-radius: 50%;
}

.a-notionLogo{
  max-width: 100%;
}
.a-menu{
  max-width: 22px;
  height: 100%;
}

.a-image--section{
  max-width: 100%;

}
.a-image--mockup{
  max-width: 100%;
}
.a-image--contenu-iphone{
  max-width: 100%;
}

.a--image-today{
  max-width: 100%;
}
.a-image--comment{
  max-width: 100%;
}
.a-image--apple{
  max-width: 100%;
}