<div class="a-video--video">
  <div class="a-video--video__inner">
    <iframe class="a-video--video__iframe"
      data-src="https://prod-notion-assets.s3-us-west-2.amazonaws.com/front/shared/benefits/desktop/company-home.mp4" frameborder="0"
      allow="autoplay; encrypted-media" allowfullscreen=""
      src="https://prod-notion-assets.s3-us-west-2.amazonaws.com/front/shared/benefits/desktop/company-home.mp4"></iframe>
  </div>
</div>